/* Global reset to remove margin and padding */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box; /* Ensures padding doesn't cause overflow */
  overflow: hidden; /* Prevents scrollbars */
}
